@import '../style';
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //make the every item in row grow to be equal in size to the largest item
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  align-self: stretch;
  justify-self: stretch;
}

.loadingPlaceHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  padding: 60px 20px;
  background: #efefef;
  border-radius: 14px;
}

.loadingPlaceHolder .icon {
  display: flex;
  color: $text-color-hint;
  font-size: 3rem;
}

.loadingPlaceHolder .text {;
  text-align: center;
  display: flex;
  margin-top: 8px;
  font-size: 1rem;
  color: $text-color-hint;
}
