@import './style.scss';


.container {
  display: flex;
  width: calc(100vw - 40px);
  height: calc(100svh - 40px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
}

.searchBarBox {
  display: flex;
  margin-top: 0.6rem;
}

.categoryBox {
  margin-top: 2rem;
}

.productsBox {
  margin-top: 20px;
  align-self: stretch;
  display: flex;
}

.bottom {
  display: flex;
  flex: 0 0 auto;
  height: 2rem;
  margin-top: 0px;
}

.bottom.loading {
  align-self: center;
}

// use this as a placeholder when there is no item to be displayed at the bottom
.bottom.placeholder {
  opacity: 1;
}

.bottom.loadMore {
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  border: 2px solid $accent-color;

  color: $text-color;
  font-weight: bold;
  font-size: 0.7rem;
  width: 130px;// fixed width to prevent size change on text update
  cursor: pointer;
  transition: opacity 0.2s ease;
  opacity: 0.85;
}

.bottom.loadMore:hover {
  opacity: 1;
}

.bottom.text {
  align-self: center;
  color: $text-color;
  font-size: 0.9rem;
}

.paginationSpace {
  align-self: center;
  display: flex;
  height: 30px;
  width: 100px;
  flex: 0 0 auto;
}

.paginationBar {

  align-self: center;
  margin-top: 1rem;
  display: flex;
  position: fixed;
  bottom: 0.4rem;
  transition: transform 0.25s ease;
  transform: translateY(0);
}

.paginationBar.hide {
  transform: translateY(150%);
}

.bottomScroll {
  display: flex;
  flex: 0 0 auto;
  align-self: center;
  height: 10px;
}


